<div class="container">
  <h1>{{ title }}</h1>

  <div class="list-container">
    <div class="backlog-container column-container">
      <div class="list-header">
        <h2>Backlog</h2>
        <span>{{ backlog.length }}</span>
      </div>
      <div
        class="list"
        cdkDropList
        #backlogList="cdkDropList"
        [cdkDropListData]="backlog"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-card *ngFor="let bl of backlog" [data]="bl" cdkDrag></app-card>
      </div>
    </div>

    <div class="todo-container column-container">
      <div class="list-header">
        <h2>Todo</h2>
        <span>{{ todos.length }}</span>
      </div>
      <div
        class="list"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todos"
        [cdkDropListConnectedTo]="[backlogList, doneList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-card *ngFor="let todo of todos" [data]="todo" cdkDrag></app-card>
      </div>
    </div>

    <div class="done-container column-container">
      <div class="list-header">
        <h2>Done</h2>
        <span>{{ completed.length }}</span>
      </div>

      <div
        class="list"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[backlogList, todoList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-card
          *ngFor="let complete of completed"
          [data]="complete"
          cdkDrag
        ></app-card>
      </div>
    </div>
  </div>
</div>
